<html>
  <head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta charset="utf-8"/>
    <style>
      body { font-size: 20px; }
      button { font-size: 20px; }
    </style>
    <title>Connecting</title>
  </head>
  <body>
    <h1>Connecting...</h1>
    <p>
      Vaani is now connecting to the {{ssid}} wifi network.
      Disconnect your phone or computer from the VaaniSetup
      network and reconnect it to your home wifi. Then click the
      button below to continue with setup.
    </p>
    <button onclick="window.location = '/';">Continue</button>
  </body>
</html>
