<html>
  <head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta charset="utf-8"/>
    <style>
      body { font-size: 20px; }
      button { font-size: 20px; }
    </style>
    <title>Vaani Setup Step 2</title>
  </head>
  <body>
    <h1>Vaani Setup</h1>
    <h2>Step 2: Evernote</h2>
    <p>
      In order for Vaani to work, it needs access to your Evernote account.
    </p>
    <form method="get" action="/oauth">
    <button>Connect to Evernote</button>
    </form>
  </body>
</html>
