<html>
  <head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta charset="utf-8"/>
    <style>
      body { font-size: 20px; }
      button { font-size: 20px; }
    </style>
    <title>Vaani Setup Complete</title>
  </head>
  <body>
    <h1>Vaani Setup</h1>
    <p>
      You've connected your device to wifi and have authorized Vaani
      to use your Evernote account, so Vaani is ready to go now.
    </p>
    <table>
      <tr>
        <th align="right">Wifi connected to:</th>
        <td>{{ssid}}</td>
      </tr><tr>
        <th align="right">Evernote authorized until:</th>
        <td>{{until}}</td>
      </tr>
    </table>

    <button onclick="location='/wifiSetup'">
      Add another wifi network
    </button>

    <button onclick="location='/oauthSetup'">
      Extend or revoke Evernote authorization
    </button>
  </body>
</html>
