<html>
  <head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta charset="utf-8"/>
    <style>
      body { font-size: 20px; }
      button { font-size: 20px; }
    </style>
    <title>Vaani Setup Complete</title>
  </head>
  <body>
    <h1>Vaani Setup</h1>
    <p>
      You've connected your device to wifi and have authorized Vaani
      to use your Evernote account, so Vaani is ready to go now.
    </p>
    <p>
     <i>(include status info here: what wifi network are we connected
  to, and when does the autorization expire. Add buttons to add
  another network and to reauthorize or revoke the oauth)</i>
    </p>
  </body>
</html>
